[Unit]
Description=CloudMart SQS Order Worker
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/ecommerce-app
EnvironmentFile=/etc/ecommerce/env
ExecStart=/opt/ecommerce-app/venv/bin/python3 worker.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
